* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
}

/* #header, #visual, #content, #footer {
    width : 1200px
    나중에 따로 넣을 것임 
} 
*/



/* header */
#header {
    display: flex;
    position : relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}

#header > ul {
    display: flex;
    justify-content: center;
}

#header > ul > li {
    padding: 0 30px;

}

#header > ul > li > a {

    height: 100%;
}

#header > a {

}


/* visual */
#visual {
    background: skyblue;
    padding : 25px 0px;
    position: relative;
}

#visual_wrap > #visual > a {
    text-align: center;
    color: #fff;
}
#visual_wrap > #visual > h1 {
    margin: 35px 0px 15px;
    text-align: center;
    color : #fff;
    font-size: 4.1em;
}
#mark {
    text-align: center;
    font-size: 2em;
    color: #fff;
}

#notice {
    display: flex;
    justify-content : center;
    
}


#notice > .tip{
    padding : 20px 0px;
    margin : 80px 10px 0px;
    width: 350px;
    align-items: center;
    border-radius: 10px;
    background: #eeeeee;
    text-align: center;
    font-size: 1.2em;
}


.tip > img {
    width:90px;
    height: 90px;
    margin-bottom: 30px;
}



.tip > .title {
    display: block;
}


/* content */
percentage box {
    display: none;

}

